[attr]generated-code-file -diff text eol=lf linguist-generated=true
[attr]generated-binary-file -diff -text linguist-generated=true

dist/index* generated-code-file
dist/licenses* generated-code-file
dist/sourcemap* generated-code-file
