name: Cloud Runner - AWS Tests

on:
  push: { branches: [main, aws, remote-builder/unified-providers] }

env:
  GKE_ZONE: 'us-central1'
  GKE_REGION: 'us-central1'
  GKE_PROJECT: 'unitykubernetesbuilder'
  GKE_CLUSTER: 'unity-builder-cluster'
  GCP_LOGGING: true
  GCP_PROJECT: unitykubernetesbuilder
  GCP_LOG_FILE: ${{ github.workspace }}/cloud-runner-logs.txt
  AWS_REGION: eu-west-2
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: eu-west-2
  AWS_BASE_STACK_NAME: game-ci-github-automation
  CLOUD_RUNNER_BRANCH: remote-builder/unified-providers
  CLOUD_RUNNER_TESTS: true
  DEBUG: true
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  buildForAllPlatforms:
    name: AWS Fargate Build
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - test-project
        unityVersion:
          #  - 2019.2.11f1
          - 2019.3.15f1
        targetPlatform:
          #- StandaloneOSX # Build a macOS standalone (Intel 64-bit).
          #- StandaloneWindows64 # Build a Windows 64-bit standalone.
          - StandaloneLinux64 # Build a Linux 64-bit standalone.
          #- iOS # Build an iOS player.
          #- Android # Build an Android .apk.
          #- WebGL # WebGL.
          #          - StandaloneWindows # Build a Windows standalone.
          #          - WSAPlayer # Build an Windows Store Apps player.
          #          - PS4 # Build a PS4 Standalone.
          #          - XboxOne # Build a Xbox One Standalone.
          #          - tvOS # Build to Apple's tvOS platform.
          #          - Switch # Build a Nintendo Switch player
    # steps
    steps:
      - name: Checkout (default)
        uses: actions/checkout@v2
        if: github.event.event_type != 'pull_request_target'
        with:
          lfs: true
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      ## we will auth to google as well for log aggregation
      - uses: google-github-actions/setup-gcloud@master
        with:
          version: '288.0.0'
          service_account_email: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
          service_account_key: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - run: touch $GCP_LOG_FILE && tail -f $GCP_LOG_FILE | xargs -d '\n' -I{} gcloud logging write game-ci "{}" &
      - run: yarn
      - run: yarn run cli --help
      - run: yarn run test-i-aws
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          PROJECT_PATH: ${{ matrix.projectPath }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_PLATFORM: ${{ matrix.targetPlatform }}
      - uses: ./
        id: aws-fargate-unity-build
        with:
          cloudRunnerCluster: aws
          versioning: None
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          postBuildSteps: |
            - name: upload
              image: amazon/aws-cli
              commands: |
                aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile default
                aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile default
                aws configure set region $AWS_DEFAULT_REGION --profile default
                aws s3 ls
                aws s3 ls game-ci-test-storage
                ls /data/cache/$BRANCH
                echo "/data/cache/$BRANCH/build-$BUILD_GUID.zip s3://game-ci-test-storage/$BRANCH/$BUILD_FILE"
                aws s3 cp /data/cache/$BRANCH/build-$BUILD_GUID.zip s3://game-ci-test-storage/$BRANCH/build-$BUILD_GUID.zip
              secrets:
              - name: awsAccessKeyId
                value: ${{ secrets.AWS_ACCESS_KEY_ID }}
              - name: awsSecretAccessKey
                value: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              - name: awsDefaultRegion
                value: eu-west-2
      - run: |
          aws s3 cp s3://game-ci-test-storage/${{ steps.aws-fargate-unity-build.outputs.BRANCH }}/build-${{ steps.aws-fargate-unity-build.outputs.BUILD_GUID }}.zip build-${{ steps.aws-fargate-unity-build.outputs.BUILD_GUID }}.zip
          ls
      ###########################
      #          Upload         #
      ###########################
      # download from cloud storage
      - uses: actions/upload-artifact@v2
        with:
          name: AWS Build (${{ matrix.targetPlatform }})
          path: build-${{ steps.aws-fargate-unity-build.outputs.BUILD_GUID }}.zip
          retention-days: 14
