name: Cloud Runner CI Pipeline

on:
  push: { branches: [cloud-runner-develop, cloud-runner-preview, main] }
  workflow_dispatch:

permissions:
  checks: write
  contents: read
  actions: write

env:
  GKE_ZONE: 'us-central1'
  GKE_REGION: 'us-central1'
  GKE_PROJECT: 'unitykubernetesbuilder'
  GKE_CLUSTER: 'game-ci-github-pipelines'
  GCP_LOGGING: true
  GCP_PROJECT: unitykubernetesbuilder
  GCP_LOG_FILE: ${{ github.workspace }}/cloud-runner-logs.txt
  AWS_REGION: eu-west-2
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: eu-west-2
  AWS_BASE_STACK_NAME: game-ci-team-pipelines
  CLOUD_RUNNER_BRANCH: ${{ github.ref }}
  CLOUD_RUNNER_DEBUG: true
  CLOUD_RUNNER_DEBUG_TREE: true
  DEBUG: true
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  PROJECT_PATH: test-project
  UNITY_VERSION: 2019.3.15f1
  USE_IL2CPP: false
  USE_GKE_GCLOUD_AUTH_PLUGIN: true
  GIT_PRIVATE_TOKEN: ${{ secrets.GIT_PRIVATE_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  integrationTests:
    name: Integration Tests
    if: github.event.event_type != 'pull_request_target'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cloudRunnerCluster:
          - aws
          - local-docker
          - k8s
    steps:
      - name: Checkout (default)
        uses: actions/checkout@v2
        with:
          lfs: false
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - uses: google-github-actions/auth@v1
        if: matrix.CloudRunnerCluster == 'k8s'
        with:
          credentials_json: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
      - name: 'Set up Cloud SDK'
        if: matrix.CloudRunnerCluster == 'k8s'
        uses: 'google-github-actions/setup-gcloud@v1'
      - name: Get GKE cluster credentials
        if: matrix.CloudRunnerCluster == 'k8s'
        run: |
          export USE_GKE_GCLOUD_AUTH_PLUGIN=True
          gcloud components install gke-gcloud-auth-plugin
          gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project $GKE_PROJECT
      - run: yarn
      - run: yarn run test "cloud-runner-async-workflow" --detectOpenHandles --forceExit --runInBand
        timeout-minutes: 10
        if: matrix.CloudRunnerCluster != 'local-docker' && github.ref != 'refs/heads/main'
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          TARGET_PLATFORM: StandaloneWindows64
          cloudRunnerTests: true
          versioning: None
          CLOUD_RUNNER_CLUSTER: ${{ matrix.cloudRunnerCluster }}
      - run: yarn run test-i --detectOpenHandles --forceExit --runInBand
        if: matrix.CloudRunnerCluster == 'local-docker' || github.ref == 'refs/heads/main'
        timeout-minutes: 180
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          PROJECT_PATH: test-project
          TARGET_PLATFORM: StandaloneWindows64
          cloudRunnerTests: true
          versioning: None
          CLOUD_RUNNER_CLUSTER: ${{ matrix.cloudRunnerCluster }}
  localBuildTests:
    name: Local Build Target Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cloudRunnerCluster:
          #- aws
          - local-docker
          #- k8s
        targetPlatform:
          - StandaloneOSX # Build a macOS standalone (Intel 64-bit).
          - StandaloneWindows64 # Build a Windows 64-bit standalone.
          - StandaloneLinux64 # Build a Linux 64-bit standalone.
          - WebGL # WebGL.
          - iOS # Build an iOS player.
          - Android # Build an Android .apk.
    steps:
      - name: Checkout (default)
        uses: actions/checkout@v2
        with:
          lfs: false
      - run: yarn
      - uses: ./
        id: unity-build
        timeout-minutes: 30
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          cloudRunnerTests: true
          versioning: None
          targetPlatform: ${{ matrix.targetPlatform }}
          cloudRunnerCluster: ${{ matrix.cloudRunnerCluster }}
      - run: |
          cp ./cloud-runner-cache/cache/${{ steps.unity-build.outputs.CACHE_KEY }}/build/${{ steps.unity-build.outputs.BUILD_ARTIFACT }} ${{ steps.unity-build.outputs.BUILD_ARTIFACT }}
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.cloudRunnerCluster }} Build (${{ matrix.targetPlatform }})
          path: ${{ steps.unity-build.outputs.BUILD_ARTIFACT }}
          retention-days: 14
